// tspan{
//     font-size: 5px !important;
//     padding: 20px !important;
//     fill: blue !important;
//     margin-right: 10px !important;
//     stroke: transparent;

// }
.test{
    background-color: white;
    margin-right: 10px;
    border-radius: 20px;
    width: 60%;
    margin-left: 20px;
}
@media screen 
  and (min-device-width: 1500px) 
  and (max-device-width: 2000px) 
  {
      .test{
          width: 70%;
      } 
}

.formControl{
    max-width: 100;
}
.filterButtons-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 130px;
    background-color: white;
    border-radius: 20px;
 

}
.filterButton-title{
    display: flex;
    // width: 100%;
    // margin-left: 0%;
    color: black;
    font-size: 20px;
    font-weight: 700;

}
.filterButons{
display: flex;
width: 90%;
flex-direction: column;

}
.filterAllBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 500;

}
.filterOneTitle{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.filterOneBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}