// tspan{
//     font-size: 5px !important;
//     padding: 20px !important;
//     fill: blue !important;
//     margin-right: 10px !important;
//     stroke: transparent;

// }
// .test{
//     // background-color: green;
// }
.title{
    text-align: center;
    padding-top: 20;
}
.formControl{
    max-width: 100;
}
.filterButtons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 30%;

}