.topRateContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 380px;
  margin-bottom: 3%;
}

.topRateItemContainer {
  border-radius: 5px;
  width: 30%;
  height: 150px;
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.topRateItemContainerCollapse {
  width: 100%;
  // height: 100%;
  // padding: 20px;
}
.greenProgress {
  color: #61d16b;
  padding-top: 20px;
  font-size: 16px;
}
.redProgress {
  color: red;
  padding-top: 20px;
  font-size: 16px;
}
.zeroProgress {
  color: #61d16b;
  padding-top: 20px;
  font-size: 16px;
  left: 0;
}
.topRateConfirmed {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.topRateConfirmedExpand {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.topRateCountry {
  color: rgba($color: rgb(180, 181, 196), $alpha: 100);
  font-size: 14px;
  padding-top: 3px;
}
.topRateCountryCollapse {
  color: #f9f9fc;
  font-weight: 700;
  font-size: 16px;
  padding-top: 3px;
}
.topRateItemContainerExpand {
  // background-color: #6B75CA;
  width: 100%;
  // height: 100%;
  // transition: 10s;
  transition: height 350ms;
  // padding: 20px;
}
.topRateContainerCollapse {
  background-color: white;
  border-radius: 20px;
  width: 22%;
  height: auto;
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 26px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.topRateContainerExpand {
  background-color: #6b75ca;
  border-radius: 20px;
  width: 22%;
  height: auto;
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 26px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.chartContainer {
  text-align: center;
}

.container {
  position: relative;
}

@media (min-width: 340px) and (max-width: 767px) {
  .topRateConfirmed {
    font-size: 18px;
  }
  .topRateCountryCollapse {
    font-size: 14px;
  }
  
  .topRateContainerExpand {
    width: 75%;
  }
  .topRateContainerCollapse{
    width: 75%;

  }
  .topRateContainer{
    min-height: 288px;
  }

}
