.tableContainer{
    width: 40%;
    // background-color: red;
    border-radius: 20px;
    // overflowX: auto;
    max-height: 858px;
    flexGrow: 1;
    
}
.stickyTable{
    border-radius: 20px;
    width: 100%;
}