.tableContainer{
    width: 40%;
    // background-color: red;
    border-radius: 20px;
    // overflowX: auto;
    max-height: 858px;
    flexGrow: 1;
    
}
@media screen 
  and (min-device-width: 1500px) 
  and (max-device-width: 2000px)  {
      .tableContainer{
          width: 30%;
          max-height: 1225px;
      } 
}
.stickyTable{
    border-radius: 20px;
    width: 96%;
}