.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  .line{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    }
.app-container{
  background-color: #F0F3F8;
}
.loading-container{
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; */
  /* margin-top: 20%;  */
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.app-endPart{
  height: 20px;
}
.divider{
  height: 100px;
  width: 100%;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  background-color: #F0F3F8;
  /* font-size: 14px; */
}
.chartAndTableParent{
  display: flex;
  padding-top: 5%;

}
.chartParentInApp{
  width: 70%;
}
.tableParentInApp{
  width: 30%;
}
.topRateAndMap{
  margin-bottom: 20px;
}
.relatedApp{
/* margin-top: 50%; */
}
@media (min-width: 340px) and (max-width: 767px) {
.chartAndTableParent{
  flex-direction: column;
  padding-top: 1%;
}
.relatedApp{
  margin-top: 50%;
  }

}