.map-container{
    // background-color: white;
    // border: 1px solid gray;
    // height:  100vh * 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    padding-top: 20;
}